$red: red;
$ag-color: #fff;
$bg-color: #b5b5b5;
$cg-color: #9a9a9a;
$dg-color: #484b4e;
$eg-color: #2ca01c;
$fg-color: #45c234;
$lg-color: #668FBF;
$text-color: #3B5999;
$text-taxtcolor: #FFD567;
$black-color: #000000;
$tablist-color: darkgray;
$date-color: #b5b5b5;
$input-color: #9a9a9a;
$icon-color: #484b4e;
$button-color: #8C8C8C;
$avatar-color: #B1B1B1;
$border-color: #e3e1e1;
$btn-hover-color: #07bc0c;
$btn-disabled-color: #0000001f;
$disabled-color: #00000042;
$add-color: #2e7d32;
$cancel-color: #d32f2f;
$delete-color: #D2D2D2;
$color-error-input: #D32F30;
$color-error-text: #E33C2F;
$color-border-input: #C4C4C4;
$color-border-input-focus: #1E74CF;
$color-border-input-hover: #212121;
$color-error-focus: #D63435;
$color-rs: #007bff;

// Screen size
$sm: 768px;
$md: 992px;
$lg: 1200px;
